---
title: Film Log
description: Film log for Mark Llobrera.
layout: layouts/base.njk
templateClass: tmpl-books-list
permalink: 'reading{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
paginationPrevText: 'Newer books'
paginationNextText: 'Older books'
paginationAnchor: '#post-list'
pagination:
  data: collections.books
  size: 60
  alias: bookslist
---
<div class="content-main container">
<h1 class="books-list-title">Reading</h1>
<div class="post--meta">Browse all <a href="{{ '/reading/years/' }}">years</a>.</div>

{% include "bookslist.njk" %}
{% include "partials/list-pagination.njk" %}
</div>
