---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
	addAllPagesToCollections: true,
};

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	},
	templateClass: "tmpl-tag-detail"
};
---
<div class="content-main container">
<h1>Tagged “{{ tag }}”</h1>
<div class="post--meta">Browse all <a href="tags.njk">tags</a>.</div>

{% set postslist = collections[ tag ] | reverse %}
{% include "postslist.njk" %}
</div>
