{%- if postslist %}
{%- set previousPost = postslist | getPreviousCollectionItem %}
{%- set nextPost = postslist | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="post--next-previous-link">
<nav class="pagination--inner" aria-label="Pagination links">
	{%- if previousPost %}<p class="left">
		<strong>Previous</strong>:
		<a class="previous" href="{{ previousPost.url }}">{% markdown %}{{ previousPost.data.display_title or previousPost.data.title}}{% endmarkdown %}</a>
	</p>{% endif %}
	{%- if nextPost %}<p class="right">
		<strong>Next</strong>:
		<a class="next" href="{{ nextPost.url }}">{% markdown %}{{ nextPost.data.display_title or nextPost.data.title }}{% endmarkdown %}</a>
	</p>{% endif %}
</nav>
</div>
{%- endif %}
{%- endif %}
