<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="feed/atom.njk" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="feed/json.njk" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/touchicon-196.png" sizes="196x196" />

		<!-- Open Graph tags -->
		{% set ogUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ ogUrl }}" />
		<meta property="og:title" content="{{ title or metadata.title }}" />
		{% if cover_image %}
		{% set thumbnail = metadata.feed.img_base_url + cover_image %}
		<meta property="og:image" content="{{ thumbnail }}" />
		{% else %}
		<meta property="og:image" content="{{ metadata.profile_image }}" />
		{% endif %}
		{% if content_type == "book" or content_type == "film" %}
		<meta property="og:description" content="My notes on {{ title }}" />
		{% else %}
		<meta property="og:description" content="{{ description or metadata.description }}" />
		{% endif %}


		<!-- Twitter Card tags-->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@dirtystylus">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<span class="home"><a href="index.njk" class="home-link">{{ metadata.title }}</a></span>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<h2 class="visually-hidden">Top level navigation menu</h2>
			<ul class="nav">
			{%- for entry in navigation.items %}
				<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
			</ul>
		</header>

		<main id="skip" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
			{{ content | safe }}
		</main>

		<footer>
			<div class="footer--copyright">Copyright © {{ "" | currentBuildDate | readableDate("yyyy") }} Mark Llobrera.
			<ul class="nav">
			{%- for item in navigation.footer_items %}
				<li class="nav-item"><a href="{{ item.url }}"{% if item.url == page.url %} aria-current="page"{% endif %}>{{ item.title }}</a></li>
			{%- endfor %}
			</ul>
			</div>
		</footer>

	</body>
</html>
