---
layout: layouts/base.njk
templateClass: tmpl-post
---
{%- css %}{% include "public/css/prism-a11y-dark.css" %}{%- endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<link rel="stylesheet" href="/css/glightbox.css">
<div class="content-main container">
<h1>{% markdown %}{{ display_title or title }}{% endmarkdown %}</h1>
<div class="post--meta">Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	{% if tags.length > 0 %} in
	{% for tag in tags | filterTagList -%}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a class="tag" href="{{ tagUrl }}" class="tag">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
	{% endfor -%}
	{% endif %}
</div>
{{ content | safe }}
{% set postslist = collections.posts %}
{% include "partials/single-pagination.njk" %}
</div>
<script src="{{ '/js/glightbox.js' }}" defer></script>
<script src="{{ '/js/videoloop.js' }}" defer></script>
<script type="module">
const lightbox = GLightbox({
		touchNavigation: true,
		loop: true,
		keyboardNavigation: true,
		selector: 'a:has(> .glightbox)'
});
lightbox.init();
</script>
